{
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "semi": ["warn", "always"],
    "no-unused-vars": "warn"
  }
}
